[submodule "bundle/vimerl"]
	path = bundle/vimerl
	url = https://github.com/jimenezrick/vimerl.git
[submodule "bundle/calendar"]
	path = bundle/calendar
	url = https://github.com/mattn/calendar-vim.git
